.container-top-img {
  background-image: url("../../../public/images/cartorio.jpg");
  background-repeat: no-repeat;
  background-position: 60% 5%;
  background-size: cover;
  height: 40vh;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.body-servicos {
  background-color: #000000af;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  animation: opacit 2s ease forwards;
}

@keyframes opacit {
  0% {
    opacity: 10%;
  }

  100% {
    opacity: 80%;
  }
}

.body-servicos h3 {
  font-size: 3rem;
}

.container-main-content {
  list-style: disc;
  color: #1b2838;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  margin: 70px 0 0 0;
}

.menu-topics ul,
h3 {
  transition: 0.3s;
  list-style: none;
}

.menu-topics li {
  color: #ffffffa6;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  scale: 1;
  display: flex;
  text-align: center;
  align-items: center;
  text-indent: 10px;
  width: 60%;
  padding: 10px;
  background-color: #1b2838e8;
  margin: 5px auto;
  border: 1px solid #cecece7b;
  border-radius: 10px;
  list-style-type: none;
  font-size: 0.9rem;
}

.border-li {
  border: 2px solid #000000;
  width: 90%;
  margin: 2px auto;
}

.menu-topics li {
  width: 80%;
  transition: 0.3s;
}

.menu-topics li:hover {
  color: #fff !important;
  transition: 0.3s;
  scale: 1.1;
}

.container-options-buttons {
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  justify-content: center;
}

.container-options-buttons div {
  margin: 0 7px;
  color: #ffffffa6;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
  width: 40%;
  padding: 0px;
  background-color: #1b2838e8;
  border: 1px solid #cecece7b;
  border-radius: 10px;
}

.container-options-buttons h3 {
  font-size: 1rem;
}

.container-options-buttons div:hover {
  color: #fff;
  transition: 0.3s;
  scale: 1.1;
}

.menu-topics ul {
  margin: 0px auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 430px;
  text-decoration: underline;
}

.explanation {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 0;
}

.explanation h3 {
  color: rgb(95, 68, 18);
}

.explanation ul {
  margin: 0 auto;
  text-align: center;
  padding: 0 0;
}

.explanation li {
  font-size: 1rem;
  margin: 20px auto;
  width: 70%;
  text-align: left;
  list-style-type: square;
}

.container-documentation-procedure h3 {
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
}

legend {
  color: rgb(95, 68, 18);
}

.container-documentation-procedure .field-2 {
  text-align: left;
  line-height: 2rem;
  width: 85%;
  margin: 0 0;
}

.container-documentation-procedure .field-1 {
  text-align: left;
  line-height: 2rem;
  width: 80%;
  margin: 0 0;
}

.border-top {
  border: 1px solid rgba(225, 225, 225, 0.5);
}

.container-form-info-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 50px auto;
}

.unclickable {
  pointer-events: none;
  animation: opacity 1s ease forwards;
}

@keyframes opacity {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 70%;
  }
}

.diligencia-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  align-items: center;
  color: #1b2838;
  height: 45vh;
}

.diligencia-container button {
  display: flex;
  justify-content: center;
  width: 35%;
  align-items: center;
  margin: 20px 0px 0px 80px;
  font-size: 0.9rem;
}

.diligencia-container .title {
  align-items: center;
  text-align: right;
  margin: 0 80px 0 0;
  color: rgb(95, 68, 18);
  font-size: 3rem;
}

.diligencia-container .subtitle {
  align-items: center;
  text-align: right;
  margin: 0 80px 0 0;
  font-size: 1.5rem;
}

.button-bills {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffa6;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  scale: 1;
  padding: 10px;
  background-color: #1b2838e8;
  border: 1px solid #cecece7b;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.button-bills:hover {
  color: #fff;
  background-color: #1b2838;
  transition: 0.3s;
  scale: 1.1;
}

.container-car-text {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.container-text {
  border-bottom: #000000 1px solid;
  border-top-left-radius: 10px;
}

.container-form-services {
  height: fit-content;
  background: linear-gradient(
    136deg,
    #253346 0%,
    #1b2838 40%,
    #1b2838 58%,
    #253346 58%,
    #253346 60%,
    #1b2838 60%,
    #1b2838 62%,
    #374b5e 62%,
    #374b5e 64%,
    #1b2838 64%,
    #1b2838 66%,
    #2d3b4e 66%,
    #2d3b4e 68%,
    #1b2838 68%,
    #1b2838 100%
  );
  margin: 80px 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
