.section-mensalist-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px auto;
}

.titleText-banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e7e5e53a;
  align-items: center;
  padding: 20px;
  margin: 80px 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.titleText-banner .subtitle-banner {
  color: rgb(95, 68, 18);
  text-align: left;
  margin: 20px 50px;
}

.titleText-banner button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #ffffffa6;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  scale: 1;
  width: 40%;
  padding: 10px;
  background-color: #1b2838e8;
  border: 1px solid #cecece7b;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.titleText-banner button:hover {
  color: #fff;
  background-color: #1b2838;
  transition: 0.3s;
  scale: 1.1;
}

.section-mensalist-content h3 {
  color: #1b2838;
  width: 50%;
  margin: 20px auto;
  font-size: 1.5rem;
}

.fa-circle-check {
  color: rgb(95, 68, 18);
  font-size: 1.5rem;
  margin: 20px auto;
}

.img-container {
  position: relative;
  width: 100%; /* Ajuste conforme necessário */
  height: 90%; /* Ajuste conforme necessário */
  overflow: hidden; /* Garante que o conteúdo extra não seja exibido */
  z-index: 0; /* Mantém atrás do texto */
  padding: 5px 0 30px 0;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url(../../../../public/images/cartorio-services-handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 35%;
  filter: blur(2px);
  z-index: 0; /* Mantém atrás do texto */
}

.marquee {
  display: flex;
  color: #1b2838;
  background-color: #e7e5e546;
  align-items: center;
  padding: 0px;
  margin: 20px auto;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.marquee ul li {
  display: inline;
  border-left: #1b283830 1px solid;
  padding: 10px 10px 10px 45px;
  margin: 0px;
}
