:root {
  font-family: "Bodoni Moda", serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

body {
  margin: 0;
  place-items: center;
  min-height: 0vh;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo da barra */
  border-radius: 10px; /* Bordas arredondadas no track */
}

::-webkit-scrollbar-thumb {
  background: #1b2838e8; /* Cor do scroll */
  border-radius: 10px; /* Bordas arredondadas no thumb */
}
