.body-talkus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.body-talkus h1,
h2 {
  font-size: 1rem;
}

.title-container {
  color: #fff;
  padding: 0;
}

.container-form-info {
  background-color: #cecece7b;
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgba(225, 225, 225, 0.5);
  border-top: none;
}

.container-content-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 70vh;
}

.fa-circle-right {
  font-size: 3rem;
}

.container-arrow-textForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.container-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  padding: 50px;
}

.container-form textarea {
  width: 100%;
  margin: 0px auto;
  border-radius: 5px;
  border: none;
  background-color: #cecece7b;
  padding: 15px;
}

.container-form input {
  display: flex;
  background-color: #cecece7b;
  border: none;
  border-radius: 5px;
  margin: 0px 0px;
  padding: 15px;
  width: 100%;
  font-size: 0.8rem;
}

.container-button-send {
  display: flex;
  justify-content: left;
}

.container-form button {
  background-color: #1b2838e8;
  font-weight: 600;
  color: #fff;
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.content-phone-assunto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content-name-email {
  display: flex;
  flex-direction: column;
}

.content-city-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

select {
  width: 100%;
}